In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn 
from sklearn.cluster import KMeans

In [3]:
df = pd.read_csv("../datasets/processed/preprocessed_data.csv")

,Age,Annual Income (k$),Spending Score (1-100),Genre_Female,Genre_Male
0,-1.424569,-1.738999,-0.434801,-1.128152,1.128152
1,-1.281035,-1.738999,1.195704,-1.128152,1.128152
2,-1.352802,-1.700830,-1.715913,0.886405,-0.886405
3,-1.137502,-1.700830,1.040418,0.886405,-0.886405
4,-0.563369,-1.662660,-0.395980,0.886405,-0.886405

In [6]:
k_model = KMeans(
    n_clusters=8,
     init='k-means++', 
     n_init='auto', 
     max_iter=300,
     tol=0.0001,
      verbose=0, 
      random_state=None,
      copy_x=True, 
      algorithm='lloyd'
)
clusters = k_model.fit_predict(df)

In [8]:
df["cluster_label"] = clusters