In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("../datasets/raw/data_with_labels(k-means).csv")
df.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)  label
0           1    Male   19                  15                      39      3
1           2    Male   21                  15                      81      3
2           3  Female   20                  16                       6      5
3           4  Female   23                  16                      77      5
4           5  Female   31                  17                      40      5

In [4]:
# let learn the characteristics of the customer
cluster_1_data = df[df["label"]==0]
cluster_1_data

,CustomerID,Genre,Age,Annual Income (k$),Spending Score (1-100),label
122,123,Female,40,69,58,0
125,126,Female,31,70,77,0
133,134,Female,31,72,71,0
135,136,Female,29,73,88,0
139,140,Female,35,74,72,0
143,144,Female,32,76,87,0
147,148,Female,32,77,74,0
153,154,Female,38,78,76,0
155,156,Female,27,78,89,0
157,158,Female,30,78,78,0
159,160,Female,30,78,73,0
161,162,Female,29,79,83,0
163,164,Female,31,81,93,0
165,166,Female,36,85,75,0
167,168,Female,33,86,95,0
175,176,Female,30,88,86,0
181,182,Female,32,97,86,0
183,184,Female,29,98,88,0
189,190,Female,36,103,85,0
191,192,Female,32,103,69,0
193,194,Female,38,113,91,0
195,196,Female,35,120,79,0