In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("../datasets/raw/data_with_labels(k-means).csv")
df.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)  label
0           1    Male   19                  15                      39      3
1           2    Male   21                  15                      81      3
2           3  Female   20                  16                       6      5
3           4  Female   23                  16                      77      5
4           5  Female   31                  17                      40      5

In [21]:
stars_avg = df[df["label"]==0]['Spending Score (1-100)'].mean()
total_avg = df['Spending Score (1-100)'].mean()
print(f"Cluster 1 spends {stars_avg/total_avg:.1f}x more than the average customer.")
print()
stars_avg_inc = df[df["label"]==0]['Annual Income (k$)'].mean()
total_avg_inc =df['Annual Income (k$)'].mean()
print()
print(f"Cluster 1 Annual Income is {stars_avg_inc/total_avg_inc:.1f}x more than the average customer.")
print()
print(df[df["label"]==0]['Age'].describe())
# we will map this customers as a Vips

Cluster 1 spends 1.6x more than the average customer.


Cluster 1 Annual Income is 1.4x more than the average customer.

count    22.000000
mean     32.545455
std       3.432718
min      27.000000
25%      30.000000
50%      32.000000
75%      35.000000
max      40.000000
Name: Age, dtype: float64

In [27]:
clus1_avg = df[df["label"]==1]['Spending Score (1-100)'].mean()
total_avg = df['Spending Score (1-100)'].mean()
print(f"Cluster 2 spends {clus1_avg/total_avg:.1f}x more than the average customer.")
print()
clus1_avg_inc = df[df['label']==1]['Annual Income (k$)'].mean()
total_avg_inc =df['Annual Income (k$)'].mean()
print()
print(f"Cluster 2 Annual Income is {clus1_avg_inc/total_avg_inc:.1f}x more than the average customer.")
print()
print(df[df["label"]==1]['Age'].describe())

Cluster 2 spends 0.8x more than the average customer.


Cluster 2 Annual Income is 0.8x more than the average customer.

count    28.000000
mean     57.392857
std       9.413699
min      37.000000
25%      48.750000
50%      59.000000
75%      66.250000
max      70.000000
Name: Age, dtype: float64

In [31]:
clus2_avg = df[df["label"]==2]['Spending Score (1-100)'].mean()
total_avg = df['Spending Score (1-100)'].mean()
print(f"Cluster 3 spends {clus2_avg/total_avg:.1f}x more than the average customer.")
print()
clus2_avg_inc = df[df['label']==2]['Annual Income (k$)'].mean()
total_avg_inc =df['Annual Income (k$)'].mean()
print()
print(f"Cluster 3 Annual Income is {clus2_avg_inc/total_avg_inc:.1f}x more than the average customer.")
print()
print(df[df["label"]==2]['Age'].describe())
# same as cluster 1

Cluster 3 spends 0.8x more than the average customer.


Cluster 3 Annual Income is 0.8x more than the average customer.

count    36.000000
mean     51.277778
std       8.768812
min      35.000000
25%      46.000000
50%      49.500000
75%      55.750000
max      68.000000
Name: Age, dtype: float64

In [34]:
clus3_avg = df[df["label"]==3]['Spending Score (1-100)'].mean()
total_avg = df['Spending Score (1-100)'].mean()
print(f"Cluster 4 spends {clus3_avg/total_avg:.1f}x more than the average customer.")
print()
clus3_avg_inc = df[df['label']==3]['Annual Income (k$)'].mean()
total_avg_inc =df['Annual Income (k$)'].mean()
print()
print(f"Cluster 4 Annual Income is {clus3_avg_inc/total_avg_inc:.1f}x more than the average customer.")
print()
print(df[df["label"]==3]['Age'].describe())
# Trend seekers

Cluster 4 spends 1.2x more than the average customer.


Cluster 4 Annual Income is 0.7x more than the average customer.

count    23.000000
mean     24.608696
std       6.235814
min      18.000000
25%      19.000000
50%      24.000000
75%      28.000000
max      38.000000
Name: Age, dtype: float64

In [39]:
clus4_avg = df[df["label"]==4]['Spending Score (1-100)'].mean()
total_avg = df['Spending Score (1-100)'].mean()
print(f"Cluster 5 spends {clus4_avg/total_avg:.1f}x more than the average customer.")
print()
clus4_avg_inc = df[df['label']==4]['Annual Income (k$)'].mean()
total_avg_inc =df['Annual Income (k$)'].mean()
print()
print(f"Cluster 5 Annual Income is {clus4_avg_inc/total_avg_inc:.1f}x more than the average customer.")
print()
print(df[df["label"]==4]['Age'].describe())
# Budget Conscious

Cluster 5 spends 0.3x more than the average customer.


Cluster 5 Annual Income is 1.4x more than the average customer.

count    19.000000
mean     38.473684
std      12.001706
min      19.000000
25%      32.500000
50%      40.000000
75%      46.500000
max      59.000000
Name: Age, dtype: float64

In [42]:
clus5_avg = df[df["label"]==5]['Spending Score (1-100)'].mean()
total_avg = df['Spending Score (1-100)'].mean()
print(f"Cluster 5 spends {clus5_avg/total_avg:.1f}x more than the average customer.")
print()
clus5_avg_inc = df[df['label']==5]['Annual Income (k$)'].mean()
total_avg_inc =df['Annual Income (k$)'].mean()
print()
print(f"Cluster 5 Annual Income is {clus5_avg_inc/total_avg_inc:.1f}x more than the average customer.")
print()
print(df[df["label"]==5]['Age'].describe())
# trend seakers

Cluster 5 spends 1.2x more than the average customer.


Cluster 5 Annual Income is 0.7x more than the average customer.

count    34.000000
mean     26.000000
std       5.342795
min      18.000000
25%      21.250000
50%      24.000000
75%      31.000000
max      35.000000
Name: Age, dtype: float64

In [44]:
clus6_avg = df[df["label"]==6]['Spending Score (1-100)'].mean()
total_avg = df['Spending Score (1-100)'].mean()
print(f"Cluster 6 spends {clus6_avg/total_avg:.1f}x more than the average customer.")
print()
clus6_avg_inc = df[df['label']==6]['Annual Income (k$)'].mean()
total_avg_inc =df['Annual Income (k$)'].mean()
print()
print(f"Cluster 6 Annual Income is {clus6_avg_inc/total_avg_inc:.1f}x more than the average customer.")
print()
print(df[df["label"]==6]['Age'].describe())
 # Budget Conscious

Cluster 6 spends 0.5x more than the average customer.


Cluster 5 Annual Income is 1.4x more than the average customer.

count    20.000000
mean     41.050000
std       9.687078
min      23.000000
25%      35.500000
50%      41.000000
75%      47.000000
max      57.000000
Name: Age, dtype: float64

In [46]:
clus7_avg = df[df["label"]==7]['Spending Score (1-100)'].mean()
total_avg = df['Spending Score (1-100)'].mean()
print(f"Cluster 7 spends {clus7_avg/total_avg:.1f}x more than the average customer.")
print()
clus7_avg_inc = df[df['label']==7]['Annual Income (k$)'].mean()
total_avg_inc =df['Annual Income (k$)'].mean()
print()
print(f"Cluster 7 Annual Income is {clus7_avg_inc/total_avg_inc:.1f}x more than the average customer.")
print()
print(df[df["label"]==6]['Age'].describe())
# trendseekers

Cluster 7 spends 1.6x more than the average customer.


Cluster 7 Annual Income is 1.4x more than the average customer.

count    20.000000
mean     41.050000
std       9.687078
min      23.000000
25%      35.500000
50%      41.000000
75%      47.000000
max      57.000000
Name: Age, dtype: float64