In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("../datasets/raw/data_with_labels(k-means).csv")
df.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)  label
0           1    Male   19                  15                      39      3
1           2    Male   21                  15                      81      3
2           3  Female   20                  16                       6      5
3           4  Female   23                  16                      77      5
4           5  Female   31                  17                      40      5

In [20]:
stars_avg = df[df["label"]==0]['Spending Score (1-100)'].mean()
total_avg = df['Spending Score (1-100)'].mean()
print(f"Cluster 1 spends {stars_avg/total_avg:.1f}x more than the average customer.")
print()
stars_avg_inc = df[df["label"]==0]['Annual Income (k$)'].mean()
total_avg_inc =df['Annual Income (k$)'].mean()
print()
print(f"Cluster 1 Annual Income is {stars_avg_inc/total_avg_inc:.1f}x more than the average customer.")
print()
print(df[df["label"]==0]['Age'].describe())

Cluster 1 spends 1.6x more than the average customer.


Cluster 1 Annual Income is 1.4x more than the average customer.

count    22.000000
mean     32.545455
std       3.432718
min      27.000000
25%      30.000000
50%      32.000000
75%      35.000000
max      40.000000
Name: Age, dtype: float64